@inject IHttpContextAccessor Context
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["AppViewLite.Web.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>

    <ErrorBoundary>
        <ChildContent>
            <Routes />
        </ChildContent>
        <ErrorContent Context="exception">
            <AppViewLite.Web.Components.Layout.MainLayout>
                <Body>
                    <div class="page-error">
                        ❌
                        @Program.GetExceptionDisplayText(exception)
                    </div>
                </Body>
            </AppViewLite.Web.Components.Layout.MainLayout>
        </ErrorContent>
    </ErrorBoundary>
    <script src="/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="/lib/twemoji.min.js"></script>
    <script src="/lib/hls.min.js"></script>
    <script src="/app.js"></script>

</body>

</html>

