@using Microsoft.AspNetCore.Mvc.Routing
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager Navigation

@code {
    [Parameter] public required BlueskyFeedGenerator[] Feeds { get; set; }
    [Parameter] public bool Compact { get; set; }
    [Parameter] public string? NextContinuation { get; set; }
    private Uri? continuationUrl;

    protected override void OnParametersSet()
    {
        continuationUrl = Navigation.GetNextContinuationUrl(NextContinuation);
    }

}

<ul class="feed-list main-paginated-list">
    @foreach (var feed in Feeds)
    {
        <FeedRow Feed="feed" Compact="Compact"/>

    }
</ul>

@if (continuationUrl != null)
{

    <div class="pagination-button">
        <a href="@continuationUrl">Next</a>
    </div>
}

@if (Feeds.Length == 0 && NextContinuation == null)
{
    <div class="no-results">No feeds.</div>
}
