@inject RequestContext RequestContext
@code{
    [Parameter] public required BlueskyProfile Profile { get; set; }

}


<button class="follow-button @(Profile.PluggableProtocol != null || (Profile.HasPrivateFollowFlag(PrivateFollowFlags.PrivateFollow) && Profile.IsFollowedViaAtProto == null) ? "follow-button-private" : null) @(Profile.IsFollowedEvenPrivatelyBySelf ? "follow-button-unfollow" : null)" actionkind="toggleFollow">
    @if (Profile.IsFollowedEvenPrivatelyBySelf)
    {
        <text>Following</text>
    }
    else if (Profile.FollowsYou)
    {
        <text>Follow back</text>
    }
    else 
    {
        <text>Follow</text>
    }
</button>
