@code {
    [Parameter] public required BlueskyProfile Profile { get; set; }
    [Parameter] public bool BlueLink { get; set; }
}

@if (Profile.IsYou)
{
    <text>you</text>
}
else
{
    <a href="@Profile.BaseUrl" class="inline-profile-link underline-on-hover @(BlueLink ? "blue-link" : null)">@Profile.DisplayNameOrFallback</a>
}

