@code{
    [Parameter] public required BlueskyModerationBase List { get; set; }    
}
<div class="list-metadata-row-modes">
    @foreach (var (mode, text) in new[] { (ModerationBehavior.None, "Disabled"), (ModerationBehavior.Badge, "Badge"), (ModerationBehavior.BlurAll, "Blur"), (ModerationBehavior.Mute, "Mute") })
    {
        <button actionkind="setLabelerMode" class="labeler-mode @(List.Mode == mode ? "labeler-mode-active" : null)" data-mode="@mode">@text</button>
    }
</div>
