@code {
    [Parameter] public IReadOnlyList<BlueskyModerationBase>? Labels { get; set; }
    [Parameter] public string? ExtraClass { get; set; }
}

@if(Labels != null && Labels.Count != 0)
{
    <div class="label-badge-list @ExtraClass">
        @foreach (var label in Labels)
        {
            <a class="label-badge" href="@label.BaseUrl" title="@((label.Description ?? "No description available") + (label.Moderator != null ? "\n\n" + label.Moderator.DisplayNameOrFallback : null))">
                @label.NicknameOrDisplayName
            </a>
        }
    </div>

}
