@using Microsoft.AspNetCore.Mvc.Routing
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager Navigation

@code {
    [Parameter] public required IReadOnlyList<BlueskyModerationBase> Lists { get; set; }

    [Parameter] public string? NextContinuation { get; set; }
    [Parameter] public bool ShowModerator { get; set; } = true;
    private Uri? continuationUrl;

    protected override void OnParametersSet()
    {
        continuationUrl = Navigation.GetNextContinuationUrl(NextContinuation);
    }

}

<ul class="list-list main-paginated-list">
    @foreach (var list in Lists)
    {
        <ListRow List="list" ShowModerator="ShowModerator"/>

    }
</ul>

@if (continuationUrl != null)
{

    <div class="pagination-button">
        <a href="@continuationUrl">Next</a>
    </div>
}
@if (Lists.Count == 0 && NextContinuation == null)
{
    <div class="no-results">No lists.</div>
}
