
@code {
    [Parameter] required public string ProfileBaseUrl { get; set; }
    [Parameter] required public string RKey { get; set; }
    [Parameter] required public string Kind { get; set; }

    private string PostBaseUrl => $"{ProfileBaseUrl}/{RKey}";
}

<h1>Post engagements</h1>
<a href="@PostBaseUrl" class="underline-on-hover main-padding">Back to post</a>
<div class="tabbed-lists-header">
    <div class="tabbed-lists-header-inner">
            <NavLink href="@(PostBaseUrl + "/quotes")">Quotes</NavLink>
            <NavLink href="@(PostBaseUrl + "/reposts")">Reposts</NavLink>
            <NavLink href="@(PostBaseUrl + "/likes")">Likes</NavLink>
    </div>
</div>

