@using Microsoft.AspNetCore.Mvc.Routing
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager Navigation

@code {
    [Parameter] public required BlueskyProfile[] Profiles { get; set; }

    [Parameter] public string? NextContinuation { get; set; }
    private string? continuationUrl;

    protected override void OnParametersSet()
    {
        if (NextContinuation != null)
        {
            var url = Navigation.ToAbsoluteUri(Navigation.Uri);
            var query = QueryHelpers.ParseQuery(url.Query);
            query["continuation"] = NextContinuation;
            continuationUrl = QueryHelpers.AddQueryString(url.GetLeftPart(UriPartial.Path), query);
        }
        else
        {
            continuationUrl = null;
        }
    }

}

<ul class="profile-list main-paginated-list">
    @foreach (var profile in Profiles)
    {
        <ProfileRow Profile="profile"/>

    }
</ul>

@if (continuationUrl != null)
{

    <div class="pagination-button">
        <a href="@continuationUrl">Next</a>
    </div>
}
