@page "/compose"
@inject RequestContext RequestContext
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor

@code {
    [SupplyParameterFromQuery] [Parameter] public string? ReplyDid { get; set; }
    [SupplyParameterFromQuery][Parameter] public string? ReplyRkey { get; set; }
    [SupplyParameterFromQuery][Parameter] public string? QuoteDid { get; set; }
    [SupplyParameterFromQuery][Parameter] public string? QuoteRkey { get; set; }

    public bool IsReply => ReplyRkey != null && ReplyDid != null;
    public bool IsQuote => QuoteRkey != null && QuoteDid != null;

    [SupplyParameterFromForm]
    private ComposePostData? Model { get; set; }

    protected override void OnInitialized()
    {
        if (!RequestContext.IsLoggedIn) Navigation.NavigateTo("/login", true);
        Model ??= new();
    }

    private BlueskyPost? ReplyToPost;
    private BlueskyPost? QuotedPost;

    protected override async Task OnParametersSetAsync()
    {
        ReplyToPost = IsReply ? await BlueskyEnrichedApis.Instance.GetPostAsync(ReplyDid!, ReplyRkey!, RequestContext) : null;
        QuotedPost = IsQuote ? await BlueskyEnrichedApis.Instance.GetPostAsync(QuoteDid!, QuoteRkey!, RequestContext) : null;
    }

    private async Task Submit()
    {
        if (!string.IsNullOrWhiteSpace(Model!.Text))
        {
            var rkey = await BlueskyEnrichedApis.Instance.CreatePostAsync(Model.Text,
                inReplyTo: IsReply ? new PostIdString(ReplyDid!, ReplyRkey!) : null, 
                quotedPost: IsQuote ? new PostIdString(QuoteDid!, QuoteRkey!) : null,
                RequestContext);
            Navigation.NavigateTo(RequestContext.Session.Profile.BaseUrl + "/" + rkey, true);
        }
    }

    public class ComposePostData
    {
        public string? Text { get; set; }
    }
}

@if (IsReply)
{
    <PageTitle>Reply</PageTitle>
    <br>
}
else
{
    <PageTitle>New post</PageTitle>
    <h1>New post</h1>
}

@if (ReplyToPost != null)
{
    <PostRow Post="ReplyToPost"/>
    <br>
}

<form method="post" @onsubmit="Submit" @formname="composeForm" class="main-padding compose-form">
    <AntiforgeryToken />
    <div>
        <InputTextArea @bind-Value="Model!.Text" class="compose-textarea" placeholder="@(IsReply ? "Write your reply" : "What's up?")" autofocus />
    </div>
    <br>
    <div>
        <button type="submit">@(IsReply ? "Reply" : "Post")</button>
        @if (ReplyToPost != null)
        {
            <a href="@ReplyToPost?.BaseUrl" class="compose-cancel-button">Cancel</a>
        }
    </div>
</form>

@if (QuotedPost != null)
{
    <ul class="post-quoted compose-quoted-post">
        <PostRow Post="QuotedPost" IsQuote="true" />
    </ul>
        

}
