@page "/feeds"
@inject RequestContext RequestContext
@inject NavigationManager Navigation


@code {


    private BlueskyFeedGenerator[] Feeds = [];
    [Parameter][SupplyParameterFromQuery] public string? Continuation { get; set; }
    [Parameter][SupplyParameterFromQuery] public string? Q { get; set; }
    private string? NextContinuation;
    protected override async Task OnParametersSetAsync()
    {
        if (Program.IsBskyAppOrAtUri(Q))
        {
            Navigation.NavigateTo("/" + Q);
            return;
        }
        (Feeds, NextContinuation) = await BlueskyEnrichedApis.Instance.SearchFeedsAsync(Q, Continuation, default, RequestContext.OnStateChanged(StateHasChanged));
    }
}

<PageTitle>Feeds</PageTitle>

<h1>Feeds</h1>

<form action="/feeds" method="get" class="search-form">
    <label class="search-form-query"><input type="search" name="q" value="@Q" autofocus placeholder="Search" /></label>
    <label class="search-form-submit"><input type="submit" value="Search"></label>
</form>

<FeedList Feeds="@Feeds" NextContinuation="@NextContinuation" />
