@page "/feed/{did}/{rkey}"
@inject RequestContext RequestContext

@code {
    [Parameter] public required string Did { get; set; }
    [Parameter] public required string RKey { get; set; }
    [Parameter][SupplyParameterFromQuery] public string? Continuation { get; set; }
    private string? NextContinuation;

    private BlueskyPost[] Posts = [];
    private BlueskyFeedGenerator? Info;
    protected override async Task OnParametersSetAsync()
    {
        Did = (await BlueskyEnrichedApis.Instance.ResolveHandleAsync(Did));
        (Posts, Info, NextContinuation) = await BlueskyEnrichedApis.Instance.GetFeedAsync(Did, RKey, Continuation, RequestContext.OnStateChanged(StateHasChanged));
    }
}

<PageTitle>@Info?.DisplayName</PageTitle>

<h1>@Info?.DisplayName</h1>

<PostList Posts="@Posts" NextContinuation="@NextContinuation" />
