@page "/feed/{did}/{rkey}"
@inject RequestContext RequestContext
@inject BlueskyEnrichedApis Apis

@code {
    [Parameter] public required string Did { get; set; }
    [Parameter] public required string RKey { get; set; }
    [Parameter][SupplyParameterFromQuery] public string? Continuation { get; set; }
    private string? NextContinuation;

    private BlueskyProfile? FeedAuthor;
    private BlueskyPost[] Posts = [];
    private BlueskyFeedGenerator? Info;
    protected override async Task OnParametersSetAsync()
    {
        Did = await Apis.ResolveHandleAsync(Did);
        Info = await Apis.GetFeedGeneratorAsync(Did, RKey);
        (Posts, Info, NextContinuation) = await Apis.GetFeedAsync(Did, RKey, Continuation, RequestContext);
        FeedAuthor = await Apis.GetProfileAsync(Did, RequestContext);
    }
}

<PageTitle>@Info?.DisplayName</PageTitle>

<h1>@Info?.DisplayName</h1>
@if (FeedAuthor != null)
{
    <div class="feed-author-link">
        Feed provided by <a href="@FeedAuthor.BaseUrl" class="inline-profile-link blue-link">@FeedAuthor.DisplayNameOrFallback</a>
    </div>
}

<PostList Posts="@Posts" NextContinuation="@NextContinuation" />
