@page "/firehose"
@inject RequestContext RequestContext

@code {


    [Parameter][SupplyParameterFromQuery] public string? Continuation { get; set; }
    private PostsAndContinuation Posts = new();
    protected override async Task OnParametersSetAsync()
    {
        Posts = await BlueskyEnrichedApis.Instance.GetRecentPostsAsync(DateTime.UtcNow, includeReplies: false, Continuation, RequestContext);
    }
}

<PageTitle>Firehose posts</PageTitle>

<h1>Firehose posts</h1>

<PostList Posts="@Posts.Posts" NextContinuation="@Posts.NextContinuation" />
