@page "/latest"

@code {


    private BlueskyPost[] Posts = [];
    [Parameter][SupplyParameterFromQuery] public string? Continuation { get; set; }
    private string? NextContinuation;
    protected override async Task OnParametersSetAsync()
    {
        (Posts, NextContinuation) = await BlueskyEnrichedApis.Instance.GetRecentPostsAsync(DateTime.UtcNow, includeReplies: false, Continuation, EnrichDeadlineToken.Create());
    }
}

<PageTitle>Latest posts</PageTitle>

<h1>Latest posts</h1>

<PostList Posts="@Posts" NextContinuation="@NextContinuation" />
