@page "/@{did}/lists/{rkey}"
@page "/@{did}@{activityPubInstance}/lists/{rkey}"
@inherits ProfileComponentBase

@code {
    [Parameter] public required string RKey { get; set; }
    private BlueskyList? ListMetadata;
    private BlueskyProfile[] Members = [];
    [Parameter][SupplyParameterFromQuery] public string? Continuation { get; set; }
    private string? NextContinuation;

    protected override async Task OnParametersSetAsync()
    {
        await ResolveDidAsync();
        (ListMetadata, Members, NextContinuation) = await Apis.GetListMembersAsync(Did, RKey, Continuation, default, RequestContext);
    }
}

<PageTitle>@ListMetadata?.NicknameOrDisplayName</PageTitle>
<h1><LabelerDisplayName List="@ListMetadata" /></h1>
<div class="main-padding">List by <a href="@ListMetadata?.Moderator!.BaseUrl" class="blue-link">@ListMetadata?.Moderator!.DisplayName</a></div>
<div class="main-padding list-page-description">
    @ListMetadata?.Data?.Description
</div>
@if (ListMetadata != null)
{
    <div class="main-padding" data-moderationdid="@ListMetadata.ModeratorDid" data-moderationlistrkey="@ListMetadata.RKey" data-moderationlabelname="-">
        <LabelerSubscriptionButtons List="ListMetadata" ShowShowMembersButton="false" />
    </div>
}
<br>
<br>
<ProfileList Profiles="Members" NextContinuation="@NextContinuation" />

