@page "/@{did}/lists/{rkey}"
@page "/@{did}@{activityPubInstance}/lists/{rkey}"
@inherits ProfileComponentBase

@code {
    [Parameter] public required string RKey { get; set; }
    private BlueskyList? ListMetadata;
    private BlueskyProfile[] Members = [];
    [Parameter][SupplyParameterFromQuery] public string? Continuation { get; set; }
    private string? NextContinuation;

    protected override async Task OnParametersSetAsync()
    {
        await ResolveDidAsync();
        (ListMetadata, Members, NextContinuation) = await Apis.GetListMembersAsync(Did, RKey, Continuation, default, RequestContext);
    }
}

<PageTitle>@ListMetadata?.DisplayNameOrFallback</PageTitle>
<h1>@ListMetadata?.DisplayNameOrFallback</h1>
<div class="main-padding">List by <a href="@ListMetadata?.Moderator.BaseUrl" class="blue-link">@ListMetadata?.Moderator.DisplayName</a></div>
<div class="main-padding list-page-description">
    @ListMetadata?.Data?.Description
</div>


<ProfileList Profiles="Members" NextContinuation="@NextContinuation" />

