@page "/login"
@inject RequestContext RequestContext
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor
<PageTitle>Login</PageTitle>
<h1>Login</h1>
<form method="post" @onsubmit="Submit" @formname="loginForm" class="main-padding">
    <AntiforgeryToken />
    <div>
        <label>
            Handle:
            <InputText @bind-Value="Model!.Handle" />
        </label>
        <br>
        <b>Note: no password is required, this is only a simulation.</b>
    </div>
    <div>
        <button type="submit">Log in</button>
    </div>
</form>

@code {
    [SupplyParameterFromForm]
    private LoginData? Model { get; set; }

    [Parameter] [SupplyParameterFromQuery] public string Return { get; set; }

    protected override void OnInitialized()
    {
        if (RequestContext.IsLoggedIn) Navigation.NavigateTo("/following", true);
        Model ??= new();
    }

    private async Task Submit()
    {
        if (!string.IsNullOrEmpty(Model!.Handle))
        {
            await Program.LogInAsync(HttpContextAccessor.HttpContext!, Model.Handle);
            Navigation.NavigateTo(Return ?? "/following", true);
        }
    }

    public class LoginData
    {
        public string? Handle { get; set; }
    }
}


