@page "/logout"
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor
@inject BlueskyEnrichedApis Apis
@inject RequestContext RequestContext

<form method="post" @onsubmit="Submit" @formname="logoutForm" id="logoutForm">
    <AntiforgeryToken />
    Logging out...
</form>
<script>
    document.getElementById('logoutForm').submit();
</script>

@code {
    [SupplyParameterFromForm]
    private LoginData? Model { get; set; }

    protected override void OnInitialized()
    {
        if (!RequestContext.IsLoggedIn) Navigation.NavigateTo("/", true);
        Model ??= new();
    }

    private void Submit()
    {

        var cookie = Program.TryGetSessionCookie(HttpContextAccessor.HttpContext!);
        if (cookie != null)
        {
            Apis.LogOut(cookie, RequestContext);
        }
        Navigation.NavigateTo("/", true);
        
    }

    public class LoginData
    {
    }
}


