@page "/notifications"
@inject RequestContext RequestContext
@inject NavigationManager NavigationManager


@code {


    private List<CoalescedNotification> notifications = [];
    protected override async Task OnParametersSetAsync()
    {
        if (!RequestContext.IsLoggedIn) NavigationManager.NavigateTo("/");
        notifications = await BlueskyEnrichedApis.Instance.GetCoalescedNotificationsAsync(RequestContext.OnStateChanged(StateHasChanged));
    }
}

<PageTitle>Notifications</PageTitle>

<h1>Notifications</h1>

@foreach (var notification in notifications)
{
    <NotificationRow Notification="@notification" />
}
