@page "/notifications"
@inject RequestContext RequestContext
@inject NavigationManager NavigationManager
@inject BlueskyEnrichedApis Apis

@code {


    private CoalescedNotification[] newNotifications = [];
    private CoalescedNotification[] oldNotifications = [];
    private Notification newestNotification;
    protected override async Task OnParametersSetAsync()
    {
        NavigationManager.RedirectIfNotLoggedIn(RequestContext);
        (newNotifications, oldNotifications, newestNotification) = await Apis.GetCoalescedNotificationsAsync(RequestContext);
    }
}

<PageTitle>Notifications</PageTitle>

<h1>Notifications</h1>

<div id="notification-newest-id" data-newestnotification="@newestNotification.Serialize()"></div>
@foreach (var notification in newNotifications)
{
    <NotificationRow Notification="@notification" />
}
@foreach (var notification in oldNotifications)
{
    <NotificationRow Notification="@notification" />
}

@if (newNotifications.Length + oldNotifications.Length <= 3)
{
    <div class="empty-notifications-message main-padding">
        Note: notifications that occurred before your first login to AppViewLite are not available.
    </div>
}
