@page "/search-profiles"
@using System.Text.RegularExpressions
@inject RequestContext RequestContext
@inject NavigationManager Navigation

@code {


    private BlueskyProfile[] Profiles = [];
    [Parameter][SupplyParameterFromQuery] public string? Continuation { get; set; }
    [Parameter][SupplyParameterFromQuery] public string? Q { get; set; }
    private string? NextContinuation;
    protected override async Task OnParametersSetAsync()
    {
        if (Program.IsBskyAppOrAtUri(Q))
        {
            Navigation.NavigateTo("/" + Q);
            return;
        }
        if (Q != null && Regex.IsMatch(Q, @"^@?[\w\-]+(?:\.[\w\-]+)+$"))
        {
            string? did = null;
            try
            {
                did = await BlueskyEnrichedApis.Instance.ResolveHandleAsync(Q);
            }
            catch (Exception)
            {
            }
            if(did != null)
            {
                Navigation.NavigateTo("/@" + did);
                return;
            }
        }
        (Profiles, NextContinuation) = await BlueskyEnrichedApis.Instance.SearchProfilesAsync(Q, allowPrefixForLastWord: true, Continuation, default, RequestContext.OnStateChanged(StateHasChanged));
    }
}

<PageTitle>Profiles</PageTitle>

<h1>Profiles</h1>

<form action="/search-profiles" method="get" class="search-form">
    <label class="search-form-query"><input type="search" name="q" value="@Q" autofocus placeholder="Search" /></label>
    <label class="search-form-submit"><input type="submit" value="Search"></label>
</form>

<ProfileList Profiles="@Profiles" NextContinuation="@NextContinuation" />
