@page "/@{did}/feeds"
@inject RequestContext RequestContext

@code {
    [Parameter] public required string Did { get; set; }
    private BlueskyFeedGenerator[] Feeds = [];
    private BlueskyProfile? Member;
    [Parameter][SupplyParameterFromQuery] public string? Continuation { get; set; }
    private string? NextContinuation;

    protected override async Task OnParametersSetAsync()
    {
        Did = (await BlueskyEnrichedApis.Instance.ResolveHandleAsync(Did));
        Member = await BlueskyEnrichedApis.Instance.GetProfileAsync(Did, RequestContext);
        (Feeds, NextContinuation) = await BlueskyEnrichedApis.Instance.GetProfileFeedsAsync(Did, Continuation, default, RequestContext.OnStateChanged(StateHasChanged));
    }
}

<PageTitle>Feeds by @Member?.DisplayNameOrFallback</PageTitle>
<h1>Feeds by <a href="@Member?.BaseUrl">@Member?.DisplayNameOrFallback</a></h1>
<div class="main-padding">
    <a href="@Member?.BaseUrl" class="blue-link">Back to profile</a>
</div>
<FeedList Feeds="Feeds" NextContinuation="@NextContinuation" />

