@page "/@{did}/lists"
@page "/@{did}@{activityPubInstance}/lists"
@inherits ProfileComponentBase

@code {
    private BlueskyList[] Lists = [];
    private BlueskyProfile? Member;
    [Parameter][SupplyParameterFromQuery] public string? Continuation { get; set; }
    private string? NextContinuation;

    protected override async Task OnParametersSetAsync()
    {
        await ResolveDidAsync();
        Member = await Apis.GetProfileAsync(Did, RequestContext);
        (Lists, NextContinuation) = await Apis.GetProfileListsAsync(Did, Continuation, default, RequestContext);
    }
}

<PageTitle>Lists by @Member?.DisplayNameOrFallback</PageTitle>
<h1>Lists by <a href="@Member?.BaseUrl">@Member?.DisplayNameOrFallback</a></h1>
<div class="main-padding">
    <a href="@Member?.BaseUrl" class="blue-link">Back to profile</a>
</div>
<ListList Lists="Lists" NextContinuation="@NextContinuation" />

