@page "/settings"
@inject NavigationManager Navigation
@inject RequestContext RequestContext


@code {
    protected override void OnInitialized()
    {
        Navigation.RedirectIfNotLoggedIn(RequestContext);
    }
}
<h1>Settings</h1>

<div class="main-padding">
    <a href="/settings/appearance" class="settings-section-link">Appearance</a>
    <a href="/settings/mute" class="settings-section-link">Mute words</a>
    <a href="/settings/moderation" class="settings-section-link">Moderation</a>
    <a href="/settings/takeout" class="settings-section-link">Export your data</a>
</div>
