@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" onclick="document.body.classList.remove('sidebar-open')">
        <NavMenu />
    </div>
    <div class="sidebar-placeholder">
    </div>
    <div class="background-shadow" onpointerdown="document.body.classList.remove('sidebar-open')"></div>

    <main>
        <button class="sidebar-button" onclick="document.body.classList.add('sidebar-open')">
            <svg fill="none" width="24" viewBox="0 0 24 24" height="24" style="color: rgb(84, 110, 138); pointer-events: none;"><path fill="hsl(211, 24%, 43.6%)" fill-rule="evenodd" clip-rule="evenodd" d="M2 6a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1Zm0 6a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1Zm0 6a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1Z"></path></svg>
        </button>
        
        @Body
        
    </main>

    <button class="scroll-up-button display-none" onclick="scrollToTopAndRefresh()">
        <svg viewBox="0 0 448 512" height="19" width="19"><path fill="hsl(211, 28%, 6%)" d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"></path></svg>
    </button>
</div>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

