@inherits LayoutComponentBase
@inject RequestContext RequestContext
@inject IHttpContextAccessor HttpContext

@code{
    private bool NeedsMainLayout = true;
    protected override void OnInitialized()
    {
        
        if (HttpContext.HttpContext?.Request.Headers.TryGetValue("X-AppViewLiteOmitLayout", out var vals) == true && vals.FirstOrDefault() == "1")
            NeedsMainLayout = false; // Avoids GetNotificationCount in the sidebar
    }
}

<div class="page">
    @if (NeedsMainLayout)
    {
        <div class="sidebar" onclick="document.body.classList.remove('sidebar-open')">
            <NavMenu NeedsNotificationCount="@NeedsMainLayout" />
        </div>
        <div class="sidebar-placeholder"></div>
        <div class="background-shadow" onclick="document.body.classList.remove('sidebar-open')"></div>

        <div class="theater-background display-none" onclick="closeTheater()"></div>
        <div class="theater display-none" onclick="closeTheater()">
            <div class="theater-image-container">
                <img class="theater-image" />
            </div>
            <div class="theater-alt"></div>
            <a class="theater-full-post-link">See full post</a>
        </div>
    }

    <button class="sidebar-button" onclick="document.body.classList.add('sidebar-open')">
        <svg fill="none" width="24" viewBox="0 0 24 24" height="24" style="color: rgb(84, 110, 138); pointer-events: none;"><path fill="hsl(211, 24%, 43.6%)" fill-rule="evenodd" clip-rule="evenodd" d="M2 6a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1Zm0 6a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1Zm0 6a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1Z"></path></svg>
    </button>

    <main>

        @Body

    </main>

    @if (NeedsMainLayout)
    {
        <button class="scroll-up-button display-none" onclick="scrollToTopAndRefresh()">
            <svg viewBox="0 0 448 512" height="19" width="19"><path fill="hsl(211, 28%, 6%)" d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z"></path></svg>
            <div class="scroll-up-button-badge display-none"></div>
        </button>

        <div class="bottom-bar">
            <a id="bottom-bar-home-button" href="@(RequestContext.IsLoggedIn ? "/following" : "/feed/did:plc:z72i7hdynmk6r22z27h6tvur/whats-hot")">
                <svg fill="none" width="27" viewBox="0 0 24 24" height="27" aria-hidden="true" style="color: rgb(11, 15, 20);"><path fill="hsl(211, 28%, 6%)" fill-rule="evenodd" clip-rule="evenodd" d="M11.37 1.724a1 1 0 0 1 1.26 0l8 6.5A1 1 0 0 1 21 9v11a1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1v-5h-2v5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9a1 1 0 0 1 .37-.776l8-6.5ZM5 9.476V19h4v-5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v5h4V9.476l-7-5.688-7 5.688Z"></path></svg>
                <svg fill="none" width="27" viewBox="0 0 24 24" height="27" aria-hidden="true" class="display-none" style="color: rgb(11, 15, 20);"><path fill="hsl(211, 28%, 6%)" fill-rule="evenodd" clip-rule="evenodd" d="M12.63 1.724a1 1 0 0 0-1.26 0l-8 6.5A1 1 0 0 0 3 9v11a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-6h4v6a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V9a1 1 0 0 0-.37-.776l-8-6.5Z"></path></svg>
            </a>
            <a href="/search" data-alwaysfocuspage="1">
                <svg fill="none" width="28" viewBox="0 0 24 24" height="28" aria-hidden="true" style="color: rgb(11, 15, 20);"><path fill="hsl(211, 28%, 6%)" fill-rule="evenodd" clip-rule="evenodd" d="M11 5a6 6 0 1 0 0 12 6 6 0 0 0 0-12Zm-8 6a8 8 0 1 1 14.32 4.906l3.387 3.387a1 1 0 0 1-1.414 1.414l-3.387-3.387A8 8 0 0 1 3 11Z"></path></svg>
                <svg fill="none" width="28" viewBox="0 0 24 24" height="28" aria-hidden="true" class="display-none" style="color: rgb(11, 15, 20);"><path fill="hsl(211, 28%, 6%)" fill-rule="evenodd" clip-rule="evenodd" d="M5 11a6 6 0 1 1 12 0 6 6 0 0 1-12 0Zm6-8a8 8 0 1 0 4.906 14.32l3.387 3.387a1 1 0 0 0 1.414-1.414l-3.387-3.387A8 8 0 0 0 11 3Zm4 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"></path></svg>
            </a>
            @if (RequestContext.IsLoggedIn)
            {
                <a href="/notifications">
                    <svg fill="none" width="26" viewBox="0 0 24 24" height="26" aria-hidden="true" style="color: rgb(11, 15, 20);"><path fill="hsl(211, 28%, 6%)" fill-rule="evenodd" clip-rule="evenodd" d="M4.216 8.815a7.853 7.853 0 0 1 15.568 0l1.207 9.053A1 1 0 0 1 20 19h-3.354c-.904 1.748-2.607 3-4.646 3-2.039 0-3.742-1.252-4.646-3H4a1 1 0 0 1-.991-1.132l1.207-9.053ZM9.778 19c.61.637 1.399 1 2.222 1s1.613-.363 2.222-1H9.778ZM12 4a5.853 5.853 0 0 0-5.802 5.08L5.142 17h13.716l-1.056-7.92A5.853 5.853 0 0 0 12 4Z"></path></svg>
                    <svg fill="none" width="26" viewBox="0 0 24 24" height="26" aria-hidden="true" class="display-none" style="color: rgb(11, 15, 20);"><path fill="hsl(211, 28%, 6%)" fill-rule="evenodd" clip-rule="evenodd" d="M12 2a7.853 7.853 0 0 0-7.784 6.815l-1.207 9.053A1 1 0 0 0 4 19h3.354c.904 1.748 2.607 3 4.646 3 2.039 0 3.742-1.252 4.646-3H20a1 1 0 0 0 .991-1.132l-1.207-9.053A7.853 7.853 0 0 0 12 2Zm2.222 17H9.778c.61.637 1.399 1 2.222 1s1.613-.363 2.222-1Z"></path></svg>
                    <span class="notification-badge display-none"></span>
                </a>
                <a href="@RequestContext.Session.Profile!.BaseUrl">
                    <svg fill="none" width="26" viewBox="0 0 24 24" height="26" aria-hidden="true" style="color: rgb(11, 15, 20);"><path fill="hsl(211, 28%, 6%)" fill-rule="evenodd" clip-rule="evenodd" d="M12 4a8 8 0 0 0-5.935 13.365C7.56 15.895 9.612 15 12 15c2.388 0 4.44.894 5.935 2.365A8 8 0 0 0 12 4Zm4.412 14.675C15.298 17.636 13.792 17 12 17c-1.791 0-3.298.636-4.412 1.675A7.96 7.96 0 0 0 12 20a7.96 7.96 0 0 0 4.412-1.325ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10a9.98 9.98 0 0 1-3.462 7.567A9.965 9.965 0 0 1 12 22a9.965 9.965 0 0 1-6.538-2.433A9.98 9.98 0 0 1 2 12Zm10-4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-4 2a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z"></path></svg>
                    <svg fill="none" width="26" viewBox="0 0 24 24" height="26" aria-hidden="true" class="display-none" style="color: rgb(11, 15, 20);"><path fill="hsl(211, 28%, 6%)" fill-rule="evenodd" clip-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Zm3-12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-3 10a7.976 7.976 0 0 1-5.714-2.4C7.618 16.004 9.605 15 12 15c2.396 0 4.383 1.005 5.714 2.6A7.976 7.976 0 0 1 12 20Z"></path></svg>
                </a>
            }
        </div>
    }
</div>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

