@inject AppViewLiteSession Session

@code{
    private long NotificationCount;
    protected override void OnInitialized()
    {
        NotificationCount = BlueskyEnrichedApis.Instance.GetNotificationCount(Session);
    }
}

<nav>
    @if (Session.IsLoggedIn)
    {
        <a href="@Session.Profile!.BaseUrl">
            <img src="@Session.Profile!.AvatarUrl" class="post-author-image">
        </a>
    }

    <div>
        <NavLink href="/latest">
            Latest
        </NavLink>
    </div>
    <div>
        <NavLink href="/feed/did:plc:z72i7hdynmk6r22z27h6tvur/whats-hot">
            Discover
        </NavLink>
    </div>
    <div>
        <NavLink href="/search">
            Search
        </NavLink>
    </div>

    @if (Session.IsLoggedIn)
    {
        <div>
            <NavLink href="/notifications">
                Notifications
                @if (NotificationCount != 0)
                {
                    <span class="notification-badge">@NotificationCount</span>
                }
            </NavLink>
        </div>
        <div>
            <NavLink href="@Session.Profile!.BaseUrl">
                Profile
            </NavLink>
        </div>
        <div>
            <NavLink href="/logout" data-enhance-nav="false">
                Logout
            </NavLink>
        </div>
    }
    else
    {
        <div>
            <NavLink href="/login">
                Login
            </NavLink>
        </div>
    }

</nav>

