

<nav>
    
    <div>
        <NavLink href="/feed/did:plc:z72i7hdynmk6r22z27h6tvur/whats-hot">
            Discover
        </NavLink>
    </div>
    <div>
        <NavLink href="/search">
            Search
        </NavLink>
    </div>

</nav>

