@page "/debug"
<PageTitle>Debug</PageTitle>
<h1>Debug</h1>
<ul class="main-padding">
    <li><a class="blue-link" href="/admin/appviewlite-users">AppViewLite users</a></li>
    <li><a class="blue-link" href="/debug/counters">Counters</a></li>
    <li><a class="blue-link" href="/debug/locks">Locks</a></li>
    <li><a class="blue-link" href="/debug/memory-instrumentation">Memory instrumentation</a></li>
    <li><a class="blue-link" href="/debug/recent-profiles">Recent profiles</a></li>
    <li><a class="blue-link" href="/debug/requests">Requests</a></li>
    <li><a class="blue-link" href="/debug/tables">Table stats</a></li>
</ul>
