@page "/debug/locks"
@layout AppViewLite.Web.Components.Layout.NoLayout
<PageTitle>Locks</PageTitle>
<h1>Locks</h1>
<h2>Primary</h2>
<ReadWriteLockDebugComponent Lock="@BlueskyEnrichedApis.Instance.DangerousUnlockedRelationships.Lock" LastWriterStackTrace="@BlueskyEnrichedApis.Instance.DangerousUnlockedRelationships.LastStackTraceOnWriteLockEnter" />

@if (BlueskyEnrichedApis.Instance.DangerousReadOnlyReplicaUnlockedRelationships != null)
{
    <h2>Readonly replica</h2>
    <ReadWriteLockDebugComponent Lock="@BlueskyEnrichedApis.Instance.DangerousReadOnlyReplicaUnlockedRelationships.Lock" LastWriterStackTrace="@BlueskyEnrichedApis.Instance.DangerousReadOnlyReplicaUnlockedRelationships.LastStackTraceOnWriteLockEnter" />
}
